body 
  :font-size 100%
  :margin 0
  :padding 0
  :font 1em optima, arial, clean, sans-serif
  :line-height 1.5em
pre
  :padding 10px  
  
h1
  :font-size 1.2em
  
h2
  :font-size 1em

h3
  :font-size 1em

h4
  :font-size 1.1em
  
img 
  :border 0
  
blockquote
  :font-style italic
  
.content
  :margin-left auto
  :margin-right auto
  :margin-bottom 100px
  :margin-top 100px
  :width 650px
  
  p, h2
    :padding-left 70px
    :padding-right 70px
    
  ul.posts
    li
      :list-style-type none
    
.tagline, .copyright
  :width 100%
  :text-align center
  :background-color #ccc
  :color #fff
  
  a 
    :text-decoration none
    :color #fff
