!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml",  "xml:lang" => "en",  :lang => "en"}
  %head
    %meta{ 'http-equiv' => "Content-type", :content => "text/html;charset=UTF-8" }
    %title
      press play on tape – 
      = h page.title
      
    %meta{ :name => 'author', :content => 'Kaspar Schiess (http://absurd.li)' }
    %link{ :href => 'http://feeds.feedburner.com/absurd/xoDW', :rel => "alternate", :title => "press play on tape", :type => "application/atom+xml" }

    -# SHJS code block formatting
    %script{ :type => 'text/javascript', :src => '/js/shjs-0.6/sh_main.min.js' }
    %link{ :type => 'text/css', :rel => 'stylesheet', :href => '/js/shjs-0.6/css/sh_berries-light.min.css' }

    %link{ :type => 'text/css', :rel => 'stylesheet', :href => '/css/site.css' }
    %link{ :rel => "shortcut icon", :type => "image/x-icon", :href => "/favicon.ico" }
    
    -# %script{ :type => 'text/javascript', :src => 'http://getfirebug.com/releases/lite/1.2/firebug-lite.js' }
    
  :plain
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-16365074-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  %body{:onload => 'sh_highlightDocument("/js/shjs-0.6/lang/", ".min.js")'}
    #everything
      .tagline
        <a href="/">blog.absurd:li</a> - press play on tape
    
      .content
        = content
    
      .copyright
        <a rel="license" href="http://creativecommons.org/licenses/by/2.5/ch/"><img alt="Creative Commons License" src="http://i.creativecommons.org/l/by/2.5/ch/80x15.png" /></a>
        <a xmlns:cc="http://creativecommons.org/ns#" href="http://absurd.li" property="cc:attributionName" rel="cc:attributionURL">Kaspar Schiess</a>
      
    