---
layout: default
---
.post
  %h1= page.title
  
  .meta
    Written
    = page.date.strftime("%B #{countify page.date.day} %Y")
    <br/>
    Tagged
    =  page.tags.map { |tag| tag_link(tag) }.join(', ')

  -# Without the squiggly, Haml will indent highlighted code. 
  ~ content
  
  #older_and_newer
    - if page.next
      %p
        %strong Newer:
        =# page.next
    - if page.previous
      %p
        %strong Older:
        =# page.previous
  